<!--
  Generated template for the LaunchListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Launches</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getLaunches($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let launch of launches">
      <ion-thumbnail item-start>
        <img src="{{launch.links.mission_patch_small}}" alt="">
      </ion-thumbnail>
      <h2>{{launch.mission_name}}</h2>
      <p>{{launch.details}}</p>
      <button ion-button clear item-end (click)="redirectToDetail(launch)">View</button>
    </ion-item>
  </ion-list>

  <ion-fab right middle>
    <button mini ion-fab color="blue" (click)="presentModal()">
      <ion-icon name="funnel"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom *ngIf="showButton">
    <button mini ion-fab color="blue" (click)="scrollToTop(100)">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
